:root {
  --ff-1: 'Open Sans', sans-serif;
  --ff-2: 'Montserrat', sans-serif;

  --col-1: #ffffff;
  --col-2: #334257;
  --col-3: #EEF4F7;
  --col-4: #EBEDEF;

  --col-5: #0098D0;
  --col-6: #303F82;
  --col-7: #C3167C;
  --col-8: #F0DBDD;


}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: var(--ff-1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--col-2);
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

/* Служебные стили  */
.button-menu {
  position: relative;
  cursor: pointer;
  width: 38px;
  height: 38px;
  z-index: 10;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
}


.button-menu span {
  position: absolute;
  display: block;
  width: 35px;
  height: 2px;
  background: var(--col-5);
  pointer-events: none;

}

.button-menu span:first-child {
  transform: translateY(-8px);
  transition: all 0.3s;
}

.button-menu span:nth-child(2) {
  transform: translateY(0);
  transition: all 0.1s;
  opacity: 1;
}

.button-menu span:last-child {
  transform: translateY(8px);
  transition: all 0.3s;
}



.button-search {
  position: relative;
  cursor: pointer;
  width: 38px;
  height: 38px;
  z-index: 10;
  border: 1px solid var(--col-3);
  border-radius: 4px;
  background-color: var(--col-3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;

  padding: 0;

}

.button-search svg {
  width: 16px;
  height: 16px;
  pointer-events: none;
  transition: all 0.3s;
}

.button-search:hover {
  background-color: var(--col-6);
}

.button-search:hover svg circle,
.button-search:hover svg path {
  stroke: var(--col-1);
}

.wrapper {
  max-width: 1545px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 425px) {
  .wrapper {
    padding: 0 10px;
  }
}
